[module]
[[module.mounts]]
source = "assets/icons/lucide/"
target = "assets/icons/lucide/"

[[module.mounts]]
source = "assets"
target = "assets"

[[module.mounts]]
source = "layouts"
target = "layouts"
